# Handle Categorical Features (count/frequency encoding)

In [1]:
# Take Mercedebenz data to handle means categorical data into numerical data(meaningful data)

In [2]:
# high Cardinality means high no. of categories

In [3]:
# In a column, features will be replaced by their frequency

In [6]:
import pandas as pd
import numpy as np

In [8]:
pd.set_option('display.max_columns', None)

In [25]:
df= pd.read_csv('mercedesbenz.csv', usecols=['X1','X2','X3'])
df.shape

(4209, 3)

In [26]:
pd.get_dummies(df).shape
## basically One Hot Enconding increases the column by much more columns

(4209, 78)

In [27]:
# Find Unique values within column
len(df.X1.unique())

for i in df.columns:
    print(i,"-", len(df[i].unique())," labels")

X1 - 27  labels
X2 - 44  labels
X3 - 7  labels

In [32]:
# Lets obtain the counts for each one of the labels in column X1"

frequency=df.X1.value_counts().to_dict()
# Lets replace each label in X1 by its counts/frequency

In [44]:
df.X1= df.X1.map(frequency)

In [45]:
df

       X1  X2 X3
0     408  at  a
1      31  av  e
2      52   n  c
3      31   n  f
4     408   n  f
...   ...  .. ..
4204  598  as  c
4205   82   t  d
4206  408   r  a
4207  251   e  f
4208  251  ae  c

[4209 rows x 3 columns]

In [46]:
# do same with other columns

In [49]:
# find count and replace in X2
frequency=df.X2.value_counts().to_dict()

df.X2=df.X2.map(frequency)

In [51]:
# find count in X3
frequency= df.X3.value_counts().to_dict()
df.X3= df.X3.map(frequency)

In [53]:
df.isnull()

         X1     X2     X3
0     False  False  False
1     False  False  False
2     False  False  False
3     False  False  False
4     False  False  False
...     ...    ...    ...
4204  False  False  False
4205  False  False  False
4206  False  False  False
4207  False  False  False
4208  False  False  False

[4209 rows x 3 columns]