# Label Encoding

In [1]:
import pandas as pd
import datetime

In [ ]:
# we are taking last 20days date then acording to days, we will label encode these

In [4]:
now=datetime.datetime.now()
now

datetime.datetime(2021, 10, 21, 18, 11, 56, 363043)

In [5]:
date_list=[now- datetime.timedelta(days=x) for x in range(0,20) ]

In [6]:
date_list

[datetime.datetime(2021, 10, 21, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 20, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 19, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 18, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 17, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 16, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 15, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 14, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 13, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 12, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 11, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 10, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 9, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 8, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 7, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 6, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 5, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 4, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 3, 18, 11, 56, 363043),
 datetime.datetime(2021, 10, 2, 18, 11, 56, 363043)]

In [7]:
# convert this last 2o days into dataframe
df= pd.DataFrame(date_list)

In [9]:
# set column name to Day
df.columns=['Day']

In [17]:
# extract weekdays name

df['day_of_week']= df['Day'].dt.day_name()

In [22]:
df

                          Day day_ofweek
0  2021-10-21 18:11:56.363043   Thursday
1  2021-10-20 18:11:56.363043  Wednesday
2  2021-10-19 18:11:56.363043    Tuesday
3  2021-10-18 18:11:56.363043     Monday
4  2021-10-17 18:11:56.363043     Sunday
5  2021-10-16 18:11:56.363043   Saturday
6  2021-10-15 18:11:56.363043     Friday
7  2021-10-14 18:11:56.363043   Thursday
8  2021-10-13 18:11:56.363043  Wednesday
9  2021-10-12 18:11:56.363043    Tuesday
10 2021-10-11 18:11:56.363043     Monday
11 2021-10-10 18:11:56.363043     Sunday
12 2021-10-09 18:11:56.363043   Saturday
13 2021-10-08 18:11:56.363043     Friday
14 2021-10-07 18:11:56.363043   Thursday
15 2021-10-06 18:11:56.363043  Wednesday
16 2021-10-05 18:11:56.363043    Tuesday
17 2021-10-04 18:11:56.363043     Monday
18 2021-10-03 18:11:56.363043     Sunday
19 2021-10-02 18:11:56.363043   Saturday

In [24]:
# Engineer categorical variable by ordinal number replacement
weekday_map= {'Monday':1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}

In [25]:
df['day_ordinal']= df['day_ofweek'].map(weekday_map)

In [26]:
df

                          Day day_ofweek  day_ordinal
0  2021-10-21 18:11:56.363043   Thursday            4
1  2021-10-20 18:11:56.363043  Wednesday            3
2  2021-10-19 18:11:56.363043    Tuesday            2
3  2021-10-18 18:11:56.363043     Monday            1
4  2021-10-17 18:11:56.363043     Sunday            7
5  2021-10-16 18:11:56.363043   Saturday            6
6  2021-10-15 18:11:56.363043     Friday            5
7  2021-10-14 18:11:56.363043   Thursday            4
8  2021-10-13 18:11:56.363043  Wednesday            3
9  2021-10-12 18:11:56.363043    Tuesday            2
10 2021-10-11 18:11:56.363043     Monday            1
11 2021-10-10 18:11:56.363043     Sunday            7
12 2021-10-09 18:11:56.363043   Saturday            6
13 2021-10-08 18:11:56.363043     Friday            5
14 2021-10-07 18:11:56.363043   Thursday            4
15 2021-10-06 18:11:56.363043  Wednesday            3
16 2021-10-05 18:11:56.363043    Tuesday            2
17 2021-10-04 18:11:56.363043     Monday            1
18 2021-10-03 18:11:56.363043     Sunday            7
19 2021-10-02 18:11:56.363043   Saturday            6

In [ ]:
# Now we can remove Day and day_ofweek columns to use day_ordinal